.background-circle {
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 0 0 100% 100%;
  z-index: -2;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 80%;
  height: auto;
  padding-top: 40px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.logo-container .logo::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  background-color: #3661FE;
  border-radius: 4px;
  z-index: -1;
}
.logo-container .logo {
  position: relative;
  width: 40px;
  height: 28px;
  background-color: #9BC3F7;
  border-radius: 4px;
  transform: rotate(-20deg);
  z-index: 1;
}

.logo-container .text {
  font-size: 1.25rem;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.subtitle {
  text-align: center;
  font-size: 1.25rem;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px 12px;
  background-color: var(--secondary-color);
  /* background-color: #00000033;
  backdrop-filter: blur(8px); */
  z-index: 1;
}

.footer .editor-actions {
  display: flex;
  gap: 8px;
}

.footer .user-actions {
  display: flex;
  gap: 8px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF33;
    backdrop-filter: blur(4px);
  z-index: 1;
}

.loader {
  width: 48px;
  height: 48px;
  /* margin: auto; */
  position: relative;
}
.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}
.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #3661FE;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
      

@media (prefers-color-scheme: light) {
  .background-circle {
    background-color: var(--primary-color);
  }

  .footer {
    background-color: #FFFFFF33;
    backdrop-filter: blur(8px);
  }
}

#star1 {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: -1;
}

#star2 {
  position: absolute;
  top: 150px;
  left: 25%;
  z-index: -1;
}

#star3 {
  position: absolute;
  top: 200px;
  right: 50px;
  z-index: -1;
}

/* Media screen queries */
@media only screen and (max-width: 480px) {
  /* Estilos para teléfonos pequeños */
  .background-circle {
    height: 50%;
  }

  .container {
    width: 96%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Estilos para teléfonos más grandes */
  .background-circle {
    height: 75%;
  }

  .container {
    width: 96%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tabletas en modo vertical */
  .background-circle {
    height: 75%;
  }

  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Estilos para tabletas en modo horizontal y laptops pequeñas */
  .background-circle {
    height: 90%;
  }

  .container {
    width: 86%;
  }
}

@media only screen and (min-width: 1200px) {
  /* Estilos para pantallas grandes */
}

@media only screen and (min-width: 1440px) {
  /* Estilos para monitores ultraanchos y pantallas 4K */
}